
<div class="container" style="display:inline-flex;">
    <div class="container">
    <img [src]="createImgPath(product.productImg)" alt="Image Not Here" style="height:460px; width: 400px;margin-top: 10%;">
    </div>
    <div style="width:150%;">
    <h2>{{product.productName}}</h2>
    <br>
    <br>
    <p style="font-size:140%;">{{product.description}}</p>
    <br>
    <p style="font-size:140%;">Rs. {{product.productPrice}}</p>
    <p style="font-size:140%;">Quantity:
    <button (click)="minus(product)"><i class="fa fa-minus"></i></button>
    <input type="text" style="width:35px; height:35px;" value ={{product.quantity}} >
    <button (click)="plus(product)"><i class="fa fa-plus"></i></button>
    </p>
    <button class="btn btn-primary" (click)="AdtoCart(product)">Add to Cart</button>
    </div>
</div>