
<form #LoginForm="ngForm" (ngSubmit)="userForgotPassword(LoginForm)"> 
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Recover your Password</h3>
        </div>
        <div class="panel-body">
            <div class="form-group" [class.has-error]="emailcontrol.invalid && emailcontrol.touched">
                <label for="EmailId" class="control-label">Enter your Email Id</label>
                <input required id="EmailId" name="email" [(ngModel)]="email" type="email" class="form-control"  #emailcontrol= "ngModel">
                <span class="help-block" *ngIf="emailcontrol.invalid && emailcontrol.touched">
                    Email is Required
                </span>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary" [disabled]="LoginForm.invalid">Next</button>
            </div>
        </div>
    </div>
</form>